* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    height: 100vh;
    background-color:#dd99ff;
    background-image:
    radial-gradient(at 72% 33%, #f7d292 0px, transparent 50%),
    radial-gradient(at 96% 42%, #74d7fb 0px, transparent 50%),
    radial-gradient(at 39% 16%, #c1f3a0 0px, transparent 50%),
    radial-gradient(at 41% 18%, #9fdbf4 0px, transparent 50%),
    radial-gradient(at 21% 40%, #82ee44 0px, transparent 50%),
    radial-gradient(at 25% 57%, #fd7d5d 0px, transparent 50%),
    radial-gradient(at 49% 66%, #d0a7ec 0px, transparent 50%);
}

html {
    font-size: 16px;
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

.container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}

.button-option {
    background: #eef7c6;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #dd99ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

#restart {
    position: relative;
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #61247b;
    color: #fff;
    border: none;
    margin: 1.5em auto 0 auto;
    display: block;
    cursor: pointer;
}

#restart:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
            -4px -4px 6px 0 rgba(116, 125, 136, .5),
            inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
            inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.popup {
    position: absolute;
    background-color:#dd99ff;
    background-image:
    radial-gradient(at 72% 33%, #f7d292 0px, transparent 50%),
    radial-gradient(at 96% 42%, #74d7fb 0px, transparent 50%),
    radial-gradient(at 39% 16%, #c1f3a0 0px, transparent 50%),
    radial-gradient(at 41% 18%, #9fdbf4 0px, transparent 50%),
    radial-gradient(at 21% 40%, #82ee44 0px, transparent 50%),
    radial-gradient(at 25% 57%, #fd7d5d 0px, transparent 50%),
    radial-gradient(at 49% 66%, #d0a7ec 0px, transparent 50%);
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
}

#new-game {
    padding: 0.5em 1em;
    font-size: 0.6em;
    background-color: #61247b;
    color: #fff;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
}

#new-game:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
            -4px -4px 6px 0 rgba(116, 125, 136, .5),
            inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
            inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#message {
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.popup.hide {
    display: none;
}